@page
@model IndexModel
@{
    ViewData["Title"] = "Customer List";
}

<div class="col-md-12">
    <form method="post">
        <div class="table">
            <!-- Table header section -->
            <div>
                <div class="col-md-3">ID</div>
                <div class="col-md-7">Name</div>
                <div class="col-md-2">Action</div>
            </div>
            <div>
                @foreach (var customer in Model.Customers)
                {
                    <div class="col-md-3">@customer.Id</div>
                    <div class="col-md-7">@customer.Name</div>
                    <div class="col-md-2">
                        <a asp-page="./Edit" asp-route-id="@customer.Id">edit</a>
                        <button type="submit" asp-page-handler="delete"
                                asp-route-id="@customer.Id">
                            delete
                        </button>
                    </div>
                }

            </div>
        </div>
        <a asp-page="./Create">Create</a>
    </form>
</div>